*request
url/
.backups
.org*
.cache
org*
auto-save-list
*~
.#*
config.el
early-init.el
history
recentf
straight
transient
tramp
bookmarks
org-roam.db
projectile*
eshell/
elpa/
*custom*
*elfeed*
*.*
*notmuch*
time*
